<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="font-mfizz-2.4.1/font-mfizz.css" type="text/css" />
    <link rel="stylesheet" href="app.css" type="text/css" />
    <link rel="stylesheet" href="animate.css" type="text/css" />

    <script
      src="https://kit.fontawesome.com/dedfb313b8.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Questrial&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap"
      rel="stylesheet"
    />

    <script type="text/javascript">
      $(".a").click(function () {
        $("#navbarSupportedContent").hide();
      });
    </script>
    <title>Jan Michael Jose | Web Developer.</title>
  </head>
  <body class="clouds">
    <!--Nav Bar-->
    <nav class="navbar navbar-expand-lg bg-light menufont fixed-top" id="main-nav">
      <a class="navbar-brand" href="#">Jan Michael Jose</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        id="btnCollapse"
      >
        <span><i class="fas fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link a" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link a" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link a" href="#works" id="workslink">Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link a disabled" href="/mycv" id="mycvlink">My CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link a disabled" href="/blog" id="myblog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link a" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--splash-->
    <div class="container-fluid fullbleed">
      <div class="row row-cols-12 clearsky-color tops">
        <div class="p-4 m-4 col-md-5" name="intro">
          <div class="f-questrial animated zoomInDown p-3 text-center text-md-left fresizer">
            Hi! I am Jan Michael Jose.
          </div>
          <div class="f-questrial animated zoomInDown p-3 text-center text-md-left fresizer">I create websites.</div>
          <br />
           <span class="d-flex justify-content-center justify-content-md-start"><a href="#about" class="btn btn-outline-light">About Me</a></span>
        </div>
        <div class="p-4 m-4 col-md-5 d-none d-md-block">
          <img src="images/meblush.png" class="img-fluid">
        </div>
      </div>
    </div>
    <!--about-->
    <div class="container my-2 my-md-3">
      <div class="row mt-3" id="about">
        <!--About Text-->
        <div class="col-12 col-md-6 p-3 pr-5">
          <h1 class="f-questrial text-primary">
            About Me
          </h1>
          <p class="lead font-weight-lighter text-justify">
            Hello there!<br> I am an aspiring <mark>web developer</mark> and my passion is to create meaningful websites and help other web developers become the best version of themselves. I am based in <mark>Manila, Philippines</mark> and it would be wonderful to help out in pushing your product further!
          </p>
        </div>
        <!--Technologies-->
        <div class="col-12 col-md-6 p-4">
          <h1 class="f-questrial text-primary">
          Known Technologies
          </h1>
          <h5>
          Comfortable
          </h5>
          <div class="row text-center h5">
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="fab fa-html5"></i><br>HTML</div>
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2" ><i class="fab fa-css3-alt"></i><br>CSS</div>
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="icon-jquery"></i><br>JQuery</div>
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="fab fa-wordpress"></i><br>WordPress</div>
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="fab fa-js-square"></i><br> JavaScript</div>
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="fab fa-node-js"></i><br> Node</div>
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="fab fa-node-js"></i><br> Express</div>
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="fab fa-adobe"></i> <br>Photoshop</div>
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="fab fa-microsoft"></i> <br>Microsoft Office</div>
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="fab fa-google-drive"></i><br> Google Docs</div>
          </div>
          <h5 class="my-3">
          Limited Experience
          </h5>
          <div class="row text-center h5">
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="fab fa-react"></i><br>ReactJS</div>
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="icon-python"></i><br>Python</div>
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="icon-mongodb"></i><br>MongoDB</div>
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="icon-mysql"></i><br>MySQL</div>
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="fab fa-figma"></i><br>Figma</div>
            <div class="col-5 col-lg-3 m-2 p-2 m-md-2 border rounded p-md-2"><i class="icon-git"></i><br>Git</div>
          </div>
        </div>
        <div class="row mt-3 p-2 m-2" id="works">
          <h1 class="f-questrial text-primary">
            Works
          </h1>
          <!--Waxology-->
          <div class="card-deck">
            <div class="card p-5">
              <img
                src="images/waxology.png"
                class="card-img-top"
                alt="Waxology San Antonio, TX"
              />
              <div class="card-body">
                <h5 class="card-title">Waxology San Antonio, TX</h5>
                <p class="card-text">
                  A brochure-type website of a waxing salon located at San
                  Antonio, TX.
                </p>
                <a
                  href="http://www.waxologysa.com"
                  target="_blank"
                  class="btn btn-primary"
                  >See Website</a
                >
              </div>
            </div>
            <div class="card p-5">
              <img
                src="images/resto.jpg"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <h5 class="card-title">Sample#2</h5>
                <p class="card-text">
                  Bacon ipsum
                </p>
                <a
                  href=""
                  target="_blank"
                  class="btn btn-primary"
                  >See Website</a
                >
              </div>
            </div>
          </div>
        </div>
  
      </div>
      
    </div>
    <!--End of About and Technologies-->
    <!--Works-->
    
    
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.2.min.js"
    ></script>
  </body>
</html>
