.menufont {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5em;
}
.joomla-color {
  background: #1e3c72; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.clearsky-color {
  background: #005c97; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #363795,
    #005c97
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #363795,
    #005c97
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.jumbotron {
  width: 100%;
  height: 100vh;
  padding: 15% 10%;
}
.topper {
  padding: 15%;
}

.f-questrial {
  font-family: "Questrial", sans-serif;
}
.jumbo_img {
  width: 100%;
}
#about {
  height: 100vh;
  width: 100%;
  padding-top: 80px;
}
#works {
  height: 100vh;
  padding-top: 80px;
}
.badge {
  padding: 2%;
  font-size: 100%;
}
.clouds {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.f-source {
  font-family: "Source Code Pro", monospace;
}
.even-space {
  margin: 4px;
}
.marginbetween {
  margin: 10px;
}
.biggerz {
  font-size: 1.5em;
}

.maintext {
  font-size: 1.75rem;
}

.tops {
  padding: 7em 4em;
}

.fullbleed {
  margin: 0% auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .spacer {
    margin-top: 30%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .spacer {
    margin-top: 30%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .spacer {
    margin-top: 10%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .spacer {
    margin-top: 5%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .spacer {
    margin-top: 5%;
  }
}
